/* CSS de información(Nosotros) */
.hero-info{
    background-image: url("../img/banners/banner2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.contenido {
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
}

.somos h2, .proposito h2, .equipo h2 {
    font-size: 36px;
    border-bottom: 1px solid rga(0, 0, 0, 0.3);
    padding: 12px;
    margin-bottom: 20px;
}

.somos p, .proposito p {
    font-family: system-ui;
    line-height: 1.7;
    margin-bottom: 60px;
    text-align: left;
}

.equipo {
    padding-bottom: 20px;
}

.equipo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    text-align: left;
}

.integrante {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}

.integrante h4 {
    margin-bottom: 6px;
}

.integrante span {
    font-size: 13px;
    color: #77942e;
    font-weight: bold;
}

@media (max-width: 700px) {
    .contenido {
        padding: 30px 20px;
    }
    .equipo-grid {
        grid-template-columns: 1fr;
    }
}